@using CodeAnalysisService.Models;
@model ReportSettingsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .wrapper {
            max-width: 600px;
            border: 1px solid green;
            margin: 0 auto;
        }

        .formContainer {
            text-align: center;
            padding: 50px 0;
        }

        .userInput {
            padding-top: 5px;
            text-align: center;
        }

        .results {
            text-align:center;
            padding: 10px;
        }

        .textResult {
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: left;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="formContainer">
            <div class="userInput">
                <input type="file" accept=".cs" multiple name="upload" id="uploadFiles" formenctype="multipart/form-data" /><br />
            </div>
            <div class="userInput">
                <button id="submit">Submit and get diagnostic</button>
            </div>
        </div>
        <div class="wrapper">
            <div class="results">
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Custom/DiagnosticResultLoader.js"></script>
</body>
</html>
